body {
  background: rgb(32, 1, 55);
  background: linear-gradient(45deg, rgb(166, 62, 240) 0%, rgb(17, 183, 155) 35%, rgb(127, 222, 241) 100%);
  text-align: center;
  font-family: 'Kanit', sans-serif;
  height: 100vh;
}


#connect {
  position: relative;
  margin-top: 70px;
  color: rgba(116, 9, 159, 0.797);
  font-size: 25px;

}

#four {
  margin-top: -250px;
  font-size: 70px;
  position: relative;
  z-index: -1; 
  color: rgb(8, 73, 236);
}

h2 {
  margin-top: -100px;
  color: rgb(116, 9, 159);
}

#game-board {
  background: linear-gradient(210deg, rgb(10, 3, 146) 0%, rgba(9,9,121,1)  35%, rgba(0,212,255,1) 100%);
  box-shadow: 15px 15px 15px rgba(0, 8, 255, 0.409);
  height: 378px;
  width: 430px;
  border: 5px solid blue;
  border-radius: 10px;
  margin: 20px auto;
  display: grid;
  grid-templete-rows: repeat(6, 60px);
  grid-template-columns: repeat(7, 60px);
}

section div {
  background-color: rgb(216, 216, 216);
  border: 3px solid rgb(10, 40, 237);
  border-radius: 50%;
  margin: 1px;
  cursor: pointer;
}

#rst-btn {
  font-size: 15px;
  background: rgba(139, 7, 226, 0.787);
  box-shadow: 7px 7px 7px rgba(236, 243, 45, 0.624);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: rgb(236, 243, 45);
  cursor: pointer;
}

#rst-btn:hover {
  font-size: 18px; 
  -webkit-transition: font-size .6s ease-in-out;
  -moz-transition: font-size .6s ease-in-out;
  -o-transition: font-size .6s ease-in-out;
  transition: font-size .6s ease-in-out;
  background-color: rgba(241, 7, 7, 0.839)
}

@media screen and (max-width: 600px) {
  body {
    background-image: url(https://image.shutterstock.com/image-photo/old-brick-black-color-wall-600w-1605128917.jpg); 
    background-size: cover;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    height: 100vh;
  }
  #connect {
    position: relative;
    margin-top: 70px;
    color: rgba(33, 233, 233, 0.797);
    font-size: 15px;
  
  }
  
  #four {
    margin-top: -140px;
    font-size: 40px;
    position: relative;
    z-index: -1; 
    color: rgb(233, 31, 9);
  }
  
  h2 {
    margin-top: -50px;
    color: rgb(33, 233, 233, 0.797);
  }
  
  #game-board {
    background: linear-gradient(210deg, rgb(117, 117, 122) 0%, rgb(80, 80, 82)  35%, rgb(34, 35, 35) 100%);
    box-shadow: 7px 7px 7px rgba(59, 234, 243, 0.335);
    height: 260px;
    width: 280px;
    border: 5px solid rgb(115, 115, 120);
    border-radius: 10px;
    margin: 20px auto;
    display: grid;
    grid-templete-rows: repeat(6, 40px);
    grid-template-columns: repeat(7, 40px);
  }
  
  section div {
    background-color: rgba(59, 234, 243, 0.335);
    border: 3px solid rgb(146, 147, 152);
    border-radius: 50%;
    margin: 1px;
    cursor: pointer;
  }
  
  #rst-btn {
    font-size: 15px;
    background: rgba(239, 7, 236, 0.787);
    box-shadow: 4px 4px 4px rgba(10, 228, 43, 0.603);
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: rgb(85, 234, 11);
    cursor: pointer;
  }

  #rst-btn:hover {
    font-size: 17px; 
    -webkit-transition: font-size .6s ease-in-out;
    -moz-transition: font-size .6s ease-in-out;
    -o-transition: font-size .6s ease-in-out;
    transition: font-size .6s ease-in-out;
    background-color: rgba(241, 19, 7, 0.839)
  }
}

